@import url("https://fonts.googleapis.com/css?family=Rubik");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color: #232323;
  --background-color: #efefef;
  margin: 0;
  padding: 0;
  font-size: 10px;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
